<?xml version="1.0" encoding="utf-8" ?>
<config>
	<db_path>C:\Users\xyon\Desktop\GitHub\sql_to_datafile\code\configs.db</db_path>
	<schedule_time>30</schedule_time>
	<default_xml_folder>C:\Users\xyon\Desktop\GitHub\sql_to_datafile\code\config.xml</default_xml_folder>
	<parallel_queries>4</parallel_queries>
</config>